<div>
    <H2>My Leagues</H2>
    <div class="row">
        <div class="col-md">
            <ul class="list-group">
                <button class="list-group-item list-group-item-action" 
                *ngFor="let league of leagues" 
                (click)="onSelectLeague(league)"
                [class.active]="league === selectedLeague">
                    {{league.name}}
                    <span class="badge badge-info badge-pill">{{league.id}}</span>
                    <button class="btn float-right"
                        routerLink="/details/{{league.id}}">view details</button>
                </button>
            </ul>
        </div>
    </div>
</div>