<h3>Top Leagues</h3>
<div class="row">
  <div class="card col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let league of leagues">
    <img class="card-img-top" src="https://via.placeholder.com/400x400" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">
        <a routerLink="/details/{{league.id}}">
          {{league.name}}
        </a>        
      </h5>
      <h6 class="card-subtitle">{{league.city}}, {{league.state}}</h6>
      <p class="card-text">
        {{league.description}}
      </p>
    </div>
  </div>
</div>